:host{
    width: 100%;
}
.info--bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    @media (max-width: 559px) {
        flex-direction: column;
    }
    .info--bar--card{
        flex: 1 1 auto;
        margin: 0 1em;
        @media (max-width: 559px) {
            margin: .5em 0;
        }
        &--current{
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.65);
        }
        .card--subtitle{
            margin-bottom: 0;
        }
    }
}